<!DOCTYPE html>
<html>
<head>
	<title></title>\

    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/chartist/dist/chartist.css" />
    <!-- endbower -->
  
    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/chartist/dist/chartist.js"></script>
    <!-- endbower -->

    <!-- inject:css -->
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/demo.css">
    <link rel="stylesheet" href="/css/light-bootstrap-dashboard.css">
    <link rel="stylesheet" href="/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- endinject -->
    
    <!-- inject:js-->
    <script src="/js/app.js"></script>
    <script src="/js/demo.js"></script>
    <script src="/js/light-bootstrap-dashboard.js"></script>
    <!-- endinject -->
  
</head>
<body>
<center>
	<img src="/img/brokenPage.png">
<p>
ERR!!
 <% error.stack %>
 </p>
 </center>
</body>
</html>